

/* Color Pallete */
:root {
    --color1: #c2c2c4;
    --color2: #002344;
    --color3: #004e8b;
    --color4: #0081dd;
    --color5: #00baff;
    --color: #3e3e3e;
}

header {
    background-color: var(--color1);
    text-align: center;
    display: flex;
    justify-content: center;
    
}
header img {
    padding: 10px;
    width: 100px;
    height: 112px;
    border-radius: 15px;
}
header h1 {
    padding: 20px;
    color: var(--color2);
    font-weight: 350;
}
#mode {
    position: absolute;
    top: .5rem;
	right: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
    background-color: var(--color5);
    border: none;
    border-radius: 8px;
    padding: 5px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
    content: "X";
    font-size: 1.2rem;
    padding: 4px;
}
#menu {
	font-size: 1.5rem;
	border: none;
    border-radius: 10px;
	padding: 3px 7px 6px;
	background-color: var(--color5);
	color: var(--color2);
}
.navigation li{
    display: none;
}
nav {
    background-color: var(--color3);
    margin: 0 auto;

}
nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
nav a:hover {
    background-color: var(--color5);
    color: var(--color2);
}
.open li {
    display: block;
    width: 100%;
}
.open li a {
    display: block;
}
main {
    margin: auto;
    max-width: 1000px;
}
main h2 {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding-left:10px;
    padding-right: 10px;
  }
.card {
    border-radius: 5px;
    box-shadow: 0px 0px 12px black;
    height: 185px;
}
.card h3 {
    margin: 0;
    padding: 10px;
    background-color: var(--color1);
    text-align: center;
    color: #002344;
    font-weight: 450;

}
.card ul {
    margin: 0;
    list-style-type: none;
    padding: 1rem;
    border-radius: 5px;
}
footer {
    margin-top: 15px;
    background-color: var(--color1);
    text-align: center;
    padding: 5px;
}
footer div {
    padding-left: 30px;
    padding-right: 30px;
}
.lastModified {
    color: rgb(255, 255, 94);
    font-size: 13px;
}





